{% extends "base.html" %}

{% block content %}

{% load static %}


<!--About page-->
<section class="about-section">
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2>About The Art Of Flour</h2>
                <hr />
            </div>

            <div class="col-md-3">
                <img class="img-fluid" src="https://res.cloudinary.com/dzodn9eno/image/upload/v1666462273/file_kuekaa.png" alt="">
                
        </div>

        <div class="col-8">
            <p>Welcome to The Art Of Flour Blog. In this blog you will find many new recipes every week!</p>
            <br>
            <p>Want to contribute? Create an account and submit your recipes! The best recipes will be posted in the Blog.</p>
            <br>
            <p>Want to contribute? Create an account and submit your recipes! The best recipes will be posted in the Blog.</p>
        </div>
    </div>

</section>


{%endblock%}