{% extends "base.html" %}

{% block content %}

{% load static %}


<!--About page-->

<div class="col about-page">

    <div class="row">
        <div class="col-md-8 mt-3 about-image">
            <img src="#" alt="">
        </div>   
        <div class="col-md-4">

            <h1>About :</h1>
            <br>
            <p>Welcome to The Art Of Flour Blog. In this blog you will find many new recipes every week!</p>
            <br>
            <p>Want to contribute? Create an account and submit your recipes! The best recipes will be posted in the Blog.</p>

        </div>
    </div>

</div>
{%endblock%}