{% extends "base.html" %}

{% block content %}

<!--About page-->

<div class="container about-page">

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>
                <h1>About</h1>
                <span class="brand">HEARD</span><span class="red-o">|it</span> is a technology news website founded by
                in 2022.
                <br>
                <br>
                It has been honored at the Irish Web Awards a leading source for technology, science and start-up news,
                information and resources for people who are passionate about technology.
                <br>
                <br>
                Want to contribute to the conversation? Create an account and post as article within seconds and engage
                with our wider audience
                <br>
                <br>
                Tech trends are shaping the world want to see whats trending next? you will find it here on <span
                    class="brand">HEARD<span class="logo-o">|it</span></span></a>
            </p>
        </div>
    </div>

</div>
{%endblock%}