{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

    <div class="container mt-3 submission-form" style="width:95%; font-size: 14px; min-height: 100vh;">
        <div class="card-body all-prints-cards">
            <h2>Submit Your Recipe:</h2>
            <hr />
            <h5>The best recipes will be posted in our Blog!</h5>

        <form action="" method="POST" class="card p-3 mt-5">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>

    </div>
    </div>

    </section>

{% endblock %}
